#parent{
  position:relative;
  width:100%;
  height:20px;
  background-color: #ddd;
}

#progressTrack{
  position:absolute;
  width:20px;
  height:100%;
  background-color:blue;
  padding:0;
  margin:0
}
